.search {
    margin : auto ;
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    line-height: 30px;
    margin-bottom: 5rem;
  }
  
.searchBox{
  font-size: large;
  height: 3rem;
  width: 20rem;
  text-align: center;
}